body {
  background: linear-gradient(to right, #003be5, #00d5e2);
}

/* box branco */
.white-box {
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(68, 73, 85, 0.2);
  height: 450px;
  left: 550px;
  position: absolute;
  top: 135px;
  width: 750px;
}

h1 {
  color: #003be5;
  font-family: fantasy;
  font-size: 100px;
  font-weight: 600;
  margin: 30px;
  padding: 20px;
  text-align: center;
}

/* nome */
.name-input {
  border: 1px solid #003BE5;
  border-radius: 100px;
  height: 40px;
  left: 180px;
  position: absolute;
  text-align: center;
  top: 205px;
  width: 400px;
}

/* botão */
.login-button {
  background: #003BE5;
  border-radius: 100px;
  color: white;
  font-family: fantasy;
  font-size: medium;
  font-weight: bold;
  height: 40px;
  left: 185px;
  position: absolute;
  top: 270px;
  width: 400px;
}